<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="com.softwareag.parkingpi" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/pi/Desktop/c8y/log.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="fileAppender" />
    </root>
</configuration>